.row{
    --bs-gutter-x: 0; 
}

section{
    margin: 0%;
}

.text-justify{
    text-align: justify;
}

#initial_page{
    /* background:linear-gradient(0deg, rgba(255, 179, 142, 0.8), rgba(254, 199, 180, 0.5)), url("assets/img/initial-bg.avif"); */
    background:conic-gradient(from 250deg, rgba(148, 78, 99, 0.2), rgba(255, 179, 142, 0.5), rgba(254, 199, 180, 0.3)), url("assets/img/initial-bg.avif");
    /* background-image: url("assets/img/initial-bg.avif"); */
    background-repeat: no-repeat;
    background-size: cover;
}

#p_name{
    font-family: "Reem Kufi Fun", sans-serif;
    font-weight: 700;
}

#p_desc{
    font-family: "Reddit Mono", monospace;
    font-weight: 600;
}

#header {
    transition: opacity 0.5s linear, transform 0.5s linear; /* Smooth transition for opacity and transform */
    opacity: 0; /* Start invisible */
    transform: translateY(-100%); /* Start above the visible area */
    height: 0;
}
  
.header-visible {
    opacity: 1 !important; /* Fully visible */
    transform: translateY(0%) !important; /* Return to original position */
    height: 100% !important;
}


.bg-dark,
.bg-body-tertiary {
  background-color: #643843 !important; /* Replace #123456 with your desired color */
}


@media only screen and (max-width: 576px) {
    /* For mobile phones: */
    #initial_page{
        height: 100% !important;  
    }
  }

@media only screen and (min-height: 900px) {
    /* For mobile phones: */
    #initial_page{
        height: 100vh !important;  
    }
  }