@media screen and (max-width: 640px) {
  .card {
    position: absolute;
    width: 80%;
    height: 95%;
    perspective: 1200px;
    transition: 1s;
    border-radius: 10px;
  }

  .card:hover {
    transform: rotate(-3deg);
  }

  .card:hover .outside {
    transform: rotateX(160deg);
  }

  .outside,
  .inside {
    height: 50%;
    width: 100%;
    top: 50%;
    left: 0;
  }

  .inside {
    background: linear-gradient(to bottom, #ffafdb, #ffc9ed 30%);
    left: 0;
  }

  .outside {
    transform-origin: top;
    top: 51%;
  }

  .back {
    background: linear-gradient(to bottom, #ffafdb, #ffc9ed 30%);
  }

  .top-layer,
  .middle-1-layer,
  .middle-2-layer,
  .bottom-layer {
    height: 60px;
    width: 180px;
  }

  .middle-1-layer {
    transform: scale(0.85) rotate(1deg);
    top: 46px;
  }

  .middle-2-layer {
    top: 16px;
  }

  .top-layer {
    transform: scale(0.7) rotate(-2deg);
    top: 66px;
  }

  .first-candle,
  .second-candle,
  .third-candle {
    bottom: 150px;
  }

  .gift {
    width: 80px;
    height: 80px;
  }

  .gift::after {
    height: 80px;
    background-color: #bf3131;
    left: 40%;
  }

  .click {
    width: 100px;
  }

  .click::before {
    left: 42px;
  }

  .click::after {
    left: 40px;
  }
}
