#card_container {
  opacity: 0;
}

.card {
  max-width: 840px;
  max-height: 600px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  perspective: 1200px;
  transition: 1s;
  border-radius: 10px;
}

.card:hover {
  transform: rotate(-5deg);
}

.card:hover .outside {
  transform: rotateY(-130deg);
}

.card:hover .star {
  display: block;
}

.outside,
.inside {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50.1%;
  border-radius: 10px;
}

.inside {
  background: linear-gradient(to right, #ffafdb, #ffd1dc 30%);
  line-height: 2.5;
  padding: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 50%;
  z-index: 5;
  font-size: x-large;
}

.outside {
  transform-style: preserve-3d;
  z-index: 10;
  transform-origin: left;
  transition: 2s;
}

.card__unhover {
  animation: card-unhover 0.8s linear 2s infinite alternate;
}

.card__unhover:hover {
  animation: none;
}

@keyframes card-unhover {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  21% {
    transform: rotate(-0deg);
  }
  100% {
    transform: rotate(-0deg);
  }
}

.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  border-radius: 10px;
}

.front {
  background: url("/birthday/assets/images/sheep.png") repeat,
    url("/birthday/assets/images/pig.png") repeat,
    linear-gradient(135deg, #ff69b4, #da70d6);
  background-size: 150px 150px; /* Ensure images are placed side by side */
  background-position: 50px 50px, 125px -25px; /* Offset second image to appear beside the first */
}

.back {
  background: url("/birthday/assets/images/sheep.png") repeat,
    url("/birthday/assets/images/pig.png") repeat,
    linear-gradient(135deg, #ff69b4, #da70d6);
  background-size: 150px 150px; /* Ensure images are placed side by side */
  background-position: 50px 50px, 125px -25px;
  transform: rotateY(180deg);
}

.cake {
  width: 100%;
  position: absolute;
  bottom: 30px;
}

.top-layer,
.middle-layer,
.bottom-layer {
  height: 80px;
  width: 240px;
  background-repeat: repeat;
  background-size: 60px 100px;
  background-position: 28px 0;
  background-image: linear-gradient(
      transparent 50px,
      #fedbab 50px,
      #fedbab 60px,
      transparent 60px
    ),
    radial-gradient(circle at 30px 5px, #fffff2 30px, #713810 31px);

  border-radius: 10px 10px 0 0;
  position: relative;
  margin: auto;
  z-index: 1;
}

.middle-layer {
  transform: scale(0.85);
  top: 10px;
}

.top-layer {
  transform: scale(0.7);
  top: 30px;
}

.first-candle,
.second-candle,
.third-candle {
  height: 45px;
  width: 15px;
  background: repeating-linear-gradient(
    45deg,
    #fd3018 0,
    #fd3018 5px,
    #ffa89e 5px,
    #ffa89e 10px
  );
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 190px;
}

.first-candle::before,
.second-candle::before,
.third-candle::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 16px;
  background-color: #ffa500;
  border-radius: 0 50% 50% 50%;
  bottom: 48px;
  transform: rotate(45deg);
  left: -1px;
}

.first-candle {
  right: 50px;
}

.first-candle::before {
  animation: fire-effect-first-candle 2s linear 1s infinite alternate;
}

.second-candle::before {
  animation: fire-effect-second-candle 3s linear 1s infinite alternate;
}

.third-candle {
  left: 50px;
}

.third-candle::before {
  animation: fire-effect-third-candle 1s linear 1s infinite alternate;
}

@keyframes fire-effect-first-candle {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(60deg);
  }
  80% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes fire-effect-second-candle {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(50deg);
  }
  80% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes fire-effect-third-candle {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(55deg);
  }
  80% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

.outside p {
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 80px;
  text-align: center;
  letter-spacing: 6px;
  color: #000046;
  background-color: rgba(255, 198, 198, 0.6);
}

.gift_container {
  position: relative;
}

.gift {
  width: 100px;
  height: 100px;
  /* background-color: #fff68f; */
  background: linear-gradient(
    to right,
    #fff68f 42%,
    #bf3131 42%,
    #bf3131 62%,
    #fff68f 62%
  );
  border-radius: 10px;
  margin-bottom: 30px;
}

.gift > input[type="checkbox"] {
  display: none;
}

#click:checked + .click {
  transform: translateX(-65px) translateY(-10px) rotate(-75deg) scale(0.85);
}

#click:checked ~ #love_container .love {
  animation-play-state: running !important;
}

#click:checked ~ .wishes {
  transform: translateY(-60px);
}

.wishes {
  line-height: 30px;
  color: #000046;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  transition: 2s;
  position: absolute;
  z-index: -1;
}

.wishes:has(#love_sttm:checked) {
  /* position: unset; */
  z-index: 0;
}

.gift:has(#love_sttm:checked)::after {
  z-index: -1;
}

.click {
  cursor: pointer;
  position: absolute;
  width: 120px;
  height: 30px;
  left: -10px;
  top: -28px;
  display: flex;
  background-color: #ead196;
  border-bottom: 1px solid #d5c7a3;
  transition: 2s;
}

.click::before {
  content: "";
  background-color: #7d0a0a;
  position: absolute;
  width: 20px;
  height: 30px;
  left: 52px;
}

.click::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 0;
  border-bottom: 20px solid #bf3131;
  border-top: 20px solid #bf3131;
  border-left: 0px solid transparent;
  border-right: 20px solid transparent;
  transform: rotate(-90deg);
  left: 50px;
  top: -30px;
}
