* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #e6e6fa, #ffc0cb);
  overflow: hidden;
}

main {
  padding: 20px;
}
