@media screen and (max-width: 640px) {
  .card {
    position: absolute;
    width: 80%;
    height: 95%;
    perspective: 1200px;
    transition: 1s;
    border-radius: 10px;
  }

  .card:hover {
    transform: rotate(-3deg);
  }

  .card:hover .outside {
    transform: rotateX(160deg);
  }

  .outside,
  .inside {
    height: 50%;
    width: 100%;
    top: 50%;
    left: 0;
  }

  .inside {
    background: linear-gradient(to bottom, #ffafdb, #ffd1dc 30%);
    left: 0;
    font-size: small;
  }

  .outside {
    transform-origin: top;
    top: 50%;
  }

  .outside p {
    font-size: 30px;
    margin-top: 25px;
  }

  .cake {
    bottom: 25px;
  }

  .top-layer,
  .middle-layer,
  .bottom-layer {
    height: 45px;
    width: 180px;
    background-image: linear-gradient(
        transparent 30px,
        #fedbab 30px,
        #fedbab 40px,
        transparent 40px
      ),
      radial-gradient(circle at 30px -10px, #fffff2 35px, #713810 35px);
  }

  .middle-layer {
    transform: scale(0.85);
    top: 6px;
  }

  .top-layer {
    transform: scale(0.7);
    top: 18px;
  }

  .first-candle,
  .second-candle,
  .third-candle {
    bottom: 90px;
  }

  .gift {
    width: 80px;
    height: 80px;
    margin-bottom: 0;
  }

  .gift::after {
    height: 80px;
    background-color: #bf3131;
    left: 40%;
  }

  .click {
    width: 100px;
  }

  .click::before {
    left: 42px;
  }

  .click::after {
    left: 40px;
  }

  /* Balloon Mobile view */
  .box-canvas {
    bottom: -450px;
    transform: translateX(-50%);
    width: 200px;
  }

  @keyframes floatUp {
    0% {
      transform: unset;
      left: unset;
    }

    20% {
      transform: translateX(30px) translateY(-100px);
    }

    40% {
      transform: translateX(-30px) translateY(-250px);
    }

    60% {
      transform: translateX(20px) translateY(-300px);
    }

    80% {
      transform: translateX(-20px) translateY(-450px);
    }

    100% {
      transform: translateX(0) translateY(-750px);
      left: unset;
    }
  }

  @keyframes falling {
    0% {
      transform: rotate(0deg);
    }
    5% {
      transform: rotate(20deg);
    }
    10% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(20deg);
    }
    20% {
      transform: rotate(0deg);
    }
    80% {
      transform: translate(0px, 100px) rotate(30deg);
    }
    100% {
      opacity: 0;
      transform: translate(0px, 100px) rotate(30deg);
    }
  }

  /* Love mobile view */
  .love {
    bottom: -20px;
  }

  .love_sttm_container:has(#love_sttm:checked) {
    transform: translateX(-95px) translateY(-30px) scale(4.5);
  }
}
