#garden {
  width: 100vw;
  height: 8vh;
  translate: 0 35vh;
  background-color: #11802e;
  transition: translate var(--minItem_time) ease;
}

#garden .gardenTopLeft {
  translate: -10vw -30vh;
  border-radius: 10% 60%;
  width: var(--size, 70vw);
  height: calc(var(--size, 30vh) * 2);
  background-image: linear-gradient(to right, #308c48 20%, #3aba5c 80%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: height var(--minItem_time) ease;
}

#garden .gardenTopRight {
  translate: -18vw -19vh;
  border-radius: 10% 60%;
  width: var(--size, 70vw);
  height: calc(var(--size, 30vh) * 2);
  background-image: linear-gradient(to right, #3aba5c, #11802e);
  transition: height var(--minItem_time) ease;
}
